*, .container-fluid{
padding: 0;
margin: 0;
}




.top-bar {
  font-size:16px;
  margin-right:0px;
  background: rgba(192, 192, 192, 0.9);
  width:100%;
  position:absolute;
}

.top-bar a {
  background: rgba(28, 28, 28, 0.1);
  padding:10px;
  color:#000;
  text-decoration: none;
  display:inline;
  float:left;
}

.top-bar li a {
    float:right;
}



 .top-bar a:hover,
 .top-bar a:focus {
  background-color: white;
  color:#000;
}

.top-bar button {
  padding:10px;
}

ul {
  list-style: none;
}

.container-fluid {

}

.home-message {
    position: relative;
    width:100%;
    text-align:center;
    margin-top:40px;
  padding-top:85px;
    background-color:#C63D0F;
  height:650px;
}

.home-message h1 {
  padding: -50px;
  text-shadow: 1px 1px 1px #000;
  font-size: 5em;
  color: rgba(123, 255, 255, 0.7);
}

.home-message h3 {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.home-message a {
  background-color: grey;
  text-decoration:none;
  padding:10px;
  color:white;
  border:3px solid black;
  border-radius:15%;

  /*
  display:inline;
  margin: 0 auto;
  width:400px;
  */
}

.social-media-buttons {
  margin-top:30px;
}
/*
.home-message a:hover {
  background-color:black;
}
*/


.home-message li {
  padding: 0;
  width: 400px;
  display:inline;
  margin: 0 auto;
}

.about-section {
  background-color:#CBE32D;
}
